.container
  .row
    %h1 おすすめのトレーニング解説動画
    #playlist
      -# %iframe{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "574", :src => "https://www.youtube.com/embed/sT0dHVojuQ4?list=PL6eBwLhZ7HVl2PzL8BMPmNLOEvoBQGGJx", :width => "1165"}
