- if @task.errors.any?
  #error_explanation
    .alert.alert-danger The form contains #{pluralize(@task.errors.count, "error")}.
    %ul
      - @task.errors.full_messages.each do |msg|
        %li= msg