.head_message{
  font-family: 'Open Sans Condensed', sans-serif;
  color: white;
  background-color: darkcyan;
  position: fixed;
  top: 0;
  z-index: 100;
}

.message_form{
  position: fixed;
  bottom: 0;
  z-index: 100;
  background-color: cadetblue;
}

.input_message{
  height: 65px;
  border-radius: 25px;
  margin-top: 25px;
}

.form_icon{
  display: flex;
}

.image_icon{
  cursor: pointer;
  width: 0;
  position: relative;
  top: 42px;
  right: 125px;
}

.video_icon{
  cursor: pointer;
  width: 0;
  position: relative;
  top: 41px;
  right: 67px
}

.shadow-icon{
  visibility: hidden;
  width: 0;
}

.chat__submit{
  background-color: darkcyan;
  color: white;
  height: 67px;
  font-weight: bold;
  border-radius: 25px;
  position: relative;
  top: 27px;
}

.back_icon{
  font-size: 50px;
  position: relative;
  top: 10px;
  left: -5px;
  color: white;
}