#map {
  width: 70%;
  height: 100%;
  background-color: grey;
  float: right;
}

.head_map_message{
  font-size: 40px;
  color: darkcyan;
  font-weight: bold;
  padding: 25px;
}

.map_back_icon{
  color: darkcyan;
  position: fixed;
  top: 650px;
}